.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 170px 0 150px;
}
.not-found .img-404 {
  width: 500px;
  height: 250px;
}
@media screen and (max-width: 576px) {
  .not-found .img-404 {
    width: 275px;
    height: 125px;
  }
}
.not-found .content-404 {
  margin-top: 40px;
}
.not-found .content-404 .title-404 {
  font-size: 2.75em;
}
.not-found .content-404 .desc-404 {
  text-align: center;
}
.not-found .content-404 .btn-404 {
  color: #fff !important;
  margin-top: 10px;
}
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
@media screen and (max-width: 900px) {
  .img-not-found {
    position: relative;
    width: 80vw;
  }
  .not-found-title {
    font-size: 2.2em;
  }
}
.come-back-later {
  font-size: 1.25em;
}
.spinner {
  width: 50px;
  margin: auto;
  display: block;
}
