.trade-container {
  margin-left: 245px;
  margin-right: 50px;
  margin-bottom: 50px !important;
}

.trade-container-dark-mode {
  padding-left: 245px;
  padding-right: 50px;
  margin-bottom: 50px !important;
  background-color: #212429;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .trade-container {
    margin-left: 10%;
  }

  .trade-container-dark-mode {
    padding-left: 10% !important;
  }
}

.trade-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
}

.trade-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 275px;
  height: 275px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  border-radius: 10px;
  padding: 20px;
}

.trade-card-container-dark-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 275px;
  height: 275px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  border-radius: 10px;
  padding: 20px;
  background-color: #191b1f;
}

.trade-card-icons {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.trade-icon-1,
.trade-icon-2 {
  border-radius: 100%;
}

.trade-card-title {
  margin: 13px 0 8px;
}

@media screen and (max-width: 1200px) {
  .trade-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
}

@media screen and (max-width: 787px) {
  .trade-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    margin-left: 20vw;
  }

  .trade-grid-container {
    margin-left: 50% !important;
  }
}

@media screen and (max-width: 639px) {
  .trade-grid {
    margin-left: 10%;
  }
}

@media screen and (max-width: 447px) {
  .trade-grid {
    margin-left: 3%;
  }
}

@media screen and (max-width: 366px) {
  .trade-grid {
    margin-left: -2.5%;
  }
}
