/* Navbar */

.navbar {
  height: 9.75vh;
  width: 100%;
  position: fixed;
  background-color: #fafbfd;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 6px 0 #636262;
  display: grid;
  grid-template-columns: 1fr auto;
  z-index: 10 !important;
}
@media screen and (min-width: 273px) and (max-width: 360px) {
  .navbar {
    grid-template-columns: 80% auto;
  }
}
@media screen and (max-width: 300px) {
  .navbar .logo {
    right: 36px !important;
  }
}
@media screen and (max-width: 540px) {
  .navbar {
    height: 12.5vh;
  }
}
@media screen and (max-width: 390px) {
  .navbar {
    height: 13.25vh;
  }
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.nav-links .nav-link {
  color: #343741;
  opacity: 0.9;
}
.nav-links .nav-link:hover {
  opacity: 1;
  font-weight: bold;
}
.nav-links .btn {
  margin-left: 10px;
}
.nav-links .btn .btn-link {
  opacity: 1 !important;
}
.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.mobile-menu .nav-link {
  color: #343741;
  opacity: 0.9;
  display: block;
  margin-left: 10px;
}
.mobile-menu .nav-link:hover {
  opacity: 1;
  font-weight: bold;
}
.menu-icon {
  color: #e84142;
  font-weight: bold;
  cursor: pointer;
}
.logo-img {
  position: relative !important;
  z-index: 0 !important;
}
.nav-link:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Dark Mode Slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #19a2c1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch-checkbox {
  padding: 10px;
}

/* Navbar Dark Mode */
.navbar-dark-mode {
  background-color: #191b1f;
  color: #fff !important;
  transition: background-color 0.25s ease-in-out;
  box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.12);
}

.nav-link-dark-mode {
  color: #fff !important;
}

.mode-switcher {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.mode-switcher-moon {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(1, 1, 1);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

/* Sidebar */

.sidebar {
  position: fixed;
  height: 100%;
  width: 190px;
  z-index: 1;
  top: 3.4em;
  background-color: #191b1f;
  overflow-x: hidden;
  padding-top: 37px;
}

.sidebar-dark-mode {
  box-shadow: 0 2px 6px 0 #636262;
}

.sidebar-item {
  height: 70px;
  width: 190px;
  text-align: left;
  margin-bottom: 0;
  background-color: #212429;
  padding-bottom: 35px;
  padding-left: 15px;
}

.sidebar-item-active {
  height: 70px;
  width: 190px;
  text-align: left;
  margin-bottom: 0;
  background-color: #212429;
  padding-bottom: 25px;
  padding-left: 15px;
}

.sidebar-item:hover,
.sidebar-item-active:hover {
  background-color: #43464b;
  transform: scale(1.05);
  cursor: pointer;
}

.sidebar-item a {
  font-size: 1.2em;
  color: #b7b7b7;
}

.sidebar-item-active a {
  font-size: 1.3em;
  color: #fff !important;
}

.sidebar-item a:hover,
.sidebar-item-active a:hover {
  text-decoration: none;
}

.sidebar-tab-name {
  margin-left: 10px;
  font-family: Helvetica, Arial, sans-serif !important;
}

.mobile-menu-tab-name {
  margin-left: 7px;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.vault-mobile {
  position: relative !important;
  right: 2px;
  bottom: 1.5px;
}

.network-icon {
  border-radius: 0.375rem;
}

.network-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.account-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.copy-address-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.coin-balance-header {
  background-color: #fff;
  color: #000;
  padding: 0.575rem;
  border-radius: 0.35rem;
}

.disabled-link,
.disabled-link:hover {
  opacity: 0.5;
  cursor: not-allowed;
}
