/* Global CSS */

::root {
  --avix-bg-color: #e84142;
  --tesla-red: #e11936;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Maven Pro', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}
