.learn-container {
  padding-left: 245px;
  padding-right: 50px;
  margin-bottom: 50px !important;
}

.learn-container-dark-mode {
  padding-left: 245px;
  padding-right: 50px;
  margin-bottom: 50px !important;
  background-color: #212429;
}

@media screen and (max-width: 992px) {
  .learn-container,
  .learn-container-dark-mode {
    padding-left: 10%;
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  /* .learn-container,
  .learn-container-dark-mode {
    padding-left: 5% !important;
    margin-left: 0;
    margin-right: 0;
    padding-right: 5% !important;
  } */

  .what-is-avix-container {
    height: 650px !important;
  }
}

.learn-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.learn-card {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 95%;
  height: 250px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  border-radius: 10px;
  padding: 30px;
}

.learn-card-dark-mode {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 95%;
  height: 250px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  border-radius: 10px;
  padding: 30px;
  background-color: #191b1f;
  color: #fff !important;
}

@media screen and (max-width: 1378px) {
  .learn-grid {
    grid-template-columns: 1fr;
  }
}

/* @media screen and (max-width: 992px) {
  .learn-grid {
    padding-left: 7%;
    padding-right: 7% !important;
  }
} */

/* What is Avix Finance */

.what-is-avix-title {
  font-size: 2.75rem;
}

.what-is-avix-desc {
  font-size: 1.125rem;
}

.what-is-avix-container {
  height: 420px;
}

/* Video */

.video-title {
  font-size: 2.75rem;
}

.video-container {
  height: 420px;
}

/* Instructions */

.instructions-title {
  font-size: 2.75rem;
}

.instruction-desc {
  font-size: 1.125rem;
}

.instructions-container {
  height: 230px;
}

/* Resources */

.resources-title {
  font-size: 2.75rem;
}

.resources-link {
  font-size: 1.125rem;
}

.resources-link-inner {
  color: #e84142 !important;
  font-weight: bold;
}

.resources-container {
  height: 230px;
}

.resources-blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
}

/* Support */

.support-title {
  font-size: 2.75rem;
}

.support-desc {
  font-size: 1.125rem;
}

.support-container {
  height: 422.5px;
}

.copy-address-span {
  color: #e84142;
  font-weight: bold;
  cursor: pointer;
}

.copy-address-span:hover {
  text-decoration: underline;
}

/* Community */

.community-title {
  font-size: 2.75rem;
}

.community-link {
  font-size: 1.125rem;
}

.community-link-inner {
  color: #e84142 !important;
  font-weight: bold;
}

.community-container {
  height: 230px;
}
.community-blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
}

@media screen and (max-width: 1530px) {
  .what-is-avix-container {
    height: 550px;
  }

  .support-container {
    height: 550px;
  }
}

@media screen and (max-width: 700px) {
  .learn-grid {
    padding-left: -5% !important;
    padding-right: 0% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .what-is-avix-container,
  .video-container,
  .instructions-container,
  .resources-container,
  .support-container,
  .community-container {
    width: 85%;
    margin-left: 4%;
  }
}

@media screen and (max-width: 510px) {
  .what-is-avix-container,
  .support-container {
    height: 750px !important;
  }
}

@media screen and (max-width: 455px) {
  .what-is-avix-container,
  .support-container {
    height: 900px !important;
  }
}

@media screen and (max-width: 390px) {
}

.video {
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 992px) {
  .video {
    width: 420px;
    height: 236.25px;
  }
}

@media screen and (max-width: 700px) {
  .video {
    width: 280px;
    height: 157.5px;
  }
}

@media screen and (max-width: 510px) {
  .video {
    width: 185px;
    height: 105px;
    margin-left: 15%;
  }
}

@media screen and (max-width: 450px) {
  .video {
    margin-left: 5%;
  }
}

@media screen and (max-width: 390px) {
  .video {
    margin-left: 0%;
  }
}

@media screen and (max-width: 625px) {
  .copy-address-span {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 510px) {
  .copy-address-span {
    font-size: 0.775rem;
  }
}

@media screen and (max-width: 420px) {
  .community-link,
  .resources-link {
    font-size: 0.9rem;
  }

  .instructions-container {
    height: 280px;
  }

  .instructions-title,
  .community-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 390px) {
  .video {
    margin-left: -2% !important;
  }

  .video-container {
    height: 300px !important;
  }

  .what-is-avix-title,
  .video-title,
  .resources-title,
  .support-title {
    font-size: 2rem;
  }

  .learn-title {
    font-size: 2.25rem !important;
  }
}

@media screen and (max-width: 350px) {
  .video {
    margin-left: -9% !important;
  }

  .community-link,
  .resources-link {
    font-size: 0.8rem;
  }
}
